#contact {
	background-color:@footer-bg;
    width: 95%;
    height: 150px;
    margin-left: 3.5%;
    .flex(center,center,center, row);

    #contact-info{
        //margin-left: 18vw;
        //padding-top: 8vh;
    }

    a{
        font-size: 2rem;
        text-decoration: none;
        padding: 0 4vw;
        &:link, &:visited, &:active {
            color: #fff;
        }
        &:hover {
            color: #d79292;
        }
    }
}


/* mouse over link */
