.hero {
    background-image: linear-gradient(rgba(34, 72, 106, 0.6), rgba(0, 0, 0, 0.8)),
      url("../img/keyboard-hero.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 95vh;
    width: 95%;
    margin: 0 auto;
    @media @desktop{
        margin-left: 3.5%;
        margin-top: 1.5%;
    }
  }

  .heroText {
    // margin-left: 40vw;
    text-align: center;
  }

  .front {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    @media @desktop{
      font-size: 3rem;
    }
  }
  
  .name {
    color: @name;
    font-weight: 700;
   // margin-left: 4vw;
    line-height: 17vh;
    margin-top: 0;
    padding-top: 30vh;
  }

  .about {
    width: 95%;
    margin: 0 auto;
    display: flex;
    @media @desktop{
        height: auto;
		    margin-top: 5vh;
		    margin-bottom: 5%;
        margin-left: 3vw;
        justify-content: center;
        flex-flow: row;
    }

         h2 {
        color: #d79292;
        margin-left: 1vw;
        font-size: 5vw;
        width: 50vw;
        margin-bottom: 2%;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bolder;
        }
    
         p{
        color: #5a646f;
        line-height: 6vh;
        padding-left:1.5vw;
        margin-bottom: 4.5vh;
        text-align: justify;
       // width: 58vw;
        font-family: 'Montserrat', sans-serif;
        }
        i{
          font-size: 30rem;
          display: flex;
          justify-content: center;
          padding-top: 5%;
        }

        .aboutTitle{
          .flex(center, center, center, column);
            @media @desktop{
            .flex(center, center, center, row wrap);
            }
        }

        .about-text{
          width: 95%;
          margin-top: 10%;
          @media @desktop{
           width: 50%;
           margin-top: 5%;
          }
        }

        .profile{
          width: 50%;
          display: flex;
          justify-content: center;
          img{
          max-width: 200px;
          max-height: 200px;
          border-radius: 40%;
            @media @desktop{
              max-width: 300px;
              max-height: 300px;
            }
          }
        }
  }

.skillsWrap{
  width: 95%;
  margin: 0 auto;
  @media @desktop{
    width: 100%;
  }
    h2{
      font-weight: 800;
      text-align: center;
      padding: 2%;
      border-bottom: 1px dashed gray;
    }
  .skills{
    background-image: linear-gradient(rgba(34, 72, 106, 0.5), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/2911527/pexels-photo-2911527.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    .flex(center, center, center, row wrap);
    @media @desktop{
    .flex(center, center, center, row);
    }
    .skillBox{
      .flex(center, center, center, column);
        width: 40%;
        height: 150px;
        i{
          font-size: 6rem;
          padding: 1%;
          color: white;
          @media @desktop{
            font-size: 8rem;
            padding: 2%;
          }
        }
        h3{
          color: white;
          font-size: 2rem;
        }
    }
      
  }
}